{% block body %}
<section class="main">
    <div class="wrapper">
        <div class="left-col">
            <div class="status-wrapper">
            {% for post in posts %}
                <div class="status-card">
                    <div class="profile-pic"><img src="{{post.imagePath }}" alt=""></div>
                    <p class="username"> {{post.title}} </p>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

